* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold; 
  font-size: 8px;
  min-height: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  border-radius: 5px;
}
#workspaces {
  border-radius: 5px;
  background: #101010;
  margin: 2px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
}

#workspaces button.focused{
  background: #e78284;
  color: #ffffff;
  border-radius: 5px;
}

button {
  background: transparent;
  padding: 0.4rem;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}


#taskbar {
  border-radius: 5px;
  background: #101010;
}

#taskbar button {
  color: #babbf1;
  border-radius: 5px;
}

#taskbar button.focused{
  background: #e78284;
  color: #ffffff;
  border-radius: 5px;
}

#taskbar button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: #101010;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 0.3rem;
}

#clock {
  color: #8caaee;
  border-radius: 0px 5px 5px 0px;
} 

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5px;
  margin-left: 2px;
}
#network {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
}
#cpu {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
}
#temperature {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
}
#memory {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
  padding-right:30px;
}
#tray {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
  padding-right:30px;
}

#custom-power {
  border-radius: 5px 0px 0px 5px;
  color: #e78284;
}
